html,
body {
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  background: #333;
  height: 100%;
}

#root {
  height: 100%;
}

.app {
  padding-bottom: 30px;
}
