.container {
  margin: 0 auto;
  max-width: 1152px;
  box-sizing: border-box;
}

.formWrap {
  color: #fff;
  padding: 20px;
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.submit {
  border: none;
  margin-top: 20px;
  width: auto;
  min-width: 140px;
  line-height: 42px;
  height: 42px;
  border-radius: 6px;
  color: #fff;
  padding: 0 10px;
  display: block;
  cursor: pointer;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 1);
  background: rgb(85, 85, 85);
  background: -moz-linear-gradient(
    0deg,
    rgba(85, 85, 85, 1) 0%,
    rgba(119, 119, 119, 1) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(85, 85, 85, 1) 0%,
    rgba(119, 119, 119, 1) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(85, 85, 85, 1) 0%,
    rgba(119, 119, 119, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#555555",endColorstr="#777777",GradientType=1);
  outline: none;
}

.submit:hover {
  background: #555;
}

.error {
  width: 100%;
  padding: 5px;
  color: #ff7c7c;
  min-height: 20px;
  font-style: italic;
}

.success {
  text-align: center;
  margin: 100px 0;
}
