.header {
  height: 50px;
  line-height: 50px;
  color: #eee;
  border-bottom: 1px solid #000;
  background: rgb(72, 78, 84);
  background: -moz-linear-gradient(
    180deg,
    rgba(72, 78, 84, 1) 0%,
    rgba(49, 53, 57, 1) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(72, 78, 84, 1) 0%,
    rgba(49, 53, 57, 1) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(72, 78, 84, 1) 0%,
    rgba(49, 53, 57, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#484e54",endColorstr="#313539",GradientType=1);
}

.container {
  margin: 0 auto;
  max-width: 1152px;
  box-sizing: border-box;
  padding: 0 20px;
}

.title {
  margin: 0;
  font-weight: 600;
  text-shadow: 0px 1px 2px rgba(0,0,0,1);
}
