.inputGroup {
  width: 100%;
}

label {
  display: block;
  font-size: 16px;
  color: #fff;
  padding: 10px 0;
}

label span {
  color: #ff7c7c;
}

input {
  width: 100%;
  line-height: 42px;
  height: 42px;
  padding: 0 10px;
  border: 1px solid #000;
  border-radius: 3px;
  box-sizing: border-box;
}

.error {
  width: 100%;
  padding: 5px;
  color: #ff7c7c;
  min-height: 20px;
  font-style: italic;
}

@media screen and (min-width: 768px) {
  .inputGroup {
    width: 48%;
  }
}
